*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #2e2520;
}

@media screen and (min-whidth: 1200px) {
  body {
    font-size: 18px;
    line-height: 1.22;
  }
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
  font-style: normal;
  font-family: Montserrat;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.title {
  font-family: Caveat Brush;
  font-size: 24px;
  line-height: 2.71;
}

@media screen and (min-whidth: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.81;
  }
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-whidth: 320px) {
  .container {
    max-width: 320px;
  }
}

@media screen and (min-whidth: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-whidth: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 0px;
  margin: 0;
  width: 145px;
  height: 40px;
  background-color: #ab816c;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-family: Caveat Brush;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 2.7;
  cursor: pointer;
  outline: none;
}

.button:hover, .button:focus {
  background-color: #876655;
  border: 2px #574943 solid;
  border-radius: 25px;
}

@media screen and (min-width: 1280px) {
  .button {
    font-size: 24px;
    width: 158px;
    height: 45px;
  }
}

.social__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 27px;
  height: 27px;
  outline: none;
}

.social__link:hover, .social__link:focus {
  border: 1px #574943 solid;
  border-radius: 25px;
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: #876655;
}

@media screen and (min-width: 1200px) {
  .social__link {
    width: 36px;
    height: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .icon-twitter {
    width: 24px;
    height: 19px;
  }
  .icon-instagram {
    width: 19px;
    height: 19px;
  }
  .icon-facebook {
    width: 10.27px;
    height: 19px;
  }
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #2e2520;
}

@media screen and (max-width: 1200px) {
  .site-nav .visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
}

.site-nav__item {
  margin-left: 20px;
}

.site-nav__item:first-child {
  margin-left: 0px;
}

.site-nav__link {
  padding-top: 52px;
  padding-bottom: 85px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.regisration__title {
  display: block;
  width: 106px;
  height: 65px;
  font-weight: 400;
  text-align: center;
  color: #2e2520;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 11px;
}

.registration {
  height: 510px;
  width: 290px;
  -webkit-box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
          box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
  border-radius: 150px 150px 0px 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 27px;
  padding-top: 15px;
}

@media screen and (min-width: 768px) {
  .registration {
    width: 260px;
    height: 634px;
    border-radius: 150px 150px 150px 150px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.registration__time {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 114px;
  height: 44px;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.09;
  color: #2e2520;
  text-align: center;
}

.registration__price {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 22px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.09;
  color: #2e2520;
  text-align: center;
}

.registration__line {
  display: block;
  width: 265px;
  height: 0px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid rgba(171, 129, 108, 0.5);
  margin-bottom: 11px;
}

.form-registration {
  max-width: 448px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.form-registration input {
  font-family: Montserrat;
  color: rgba(171, 129, 108, 0.5);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}

.form-registration input::-webkit-input-placeholder {
  color: rgba(171, 129, 108, 0.5);
}

.form-registration input:-ms-input-placeholder {
  color: rgba(171, 129, 108, 0.5);
}

.form-registration input::-ms-input-placeholder {
  color: rgba(171, 129, 108, 0.5);
}

.form-registration input::placeholder {
  color: rgba(171, 129, 108, 0.5);
}

.form-registration__title {
  width: 265px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.22;
  color: #2e2520;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 17px;
  padding-left: 23px;
  padding-right: 23px;
}

.form-registration__name {
  width: 265px;
  margin-bottom: 25px;
  border: none;
  border-bottom: 1px solid #ab816c;
}

.form-registration__tel {
  width: 265px;
  margin-bottom: 25px;
  border: none;
  border-bottom: 1px solid #ab816c;
}

.form-registration__email {
  width: 265px;
  margin-bottom: 37px;
  border: none;
  border-bottom: 1px solid #ab816c;
}

.form-registration__button {
  font-size: 18px;
  line-height: 1.5;
  width: 145px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 35px;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer__box {
    margin-left: 65px;
    margin-right: 65px;
  }
}

.footer__phone {
  width: 13px;
  height: 13px;
}

.footer__location {
  width: 11px;
  height: 14px;
}

.footer__tel,
.footer__map {
  z-index: 10;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #2e2520;
}

footer {
  position: relative;
}

.footer__background {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90px;
  height: 66px;
  margin-bottom: -20px;
  margin-right: 0;
  background-image: url(../images/footer/flour_mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2.03125), (min-resolution: 195dpi), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .footer__background {
    background-image: url(../images/footer/flour@2x_mobile.png);
  }
}

@media screen and (min-width: 768px) {
  .footer__background {
    width: 150px;
    height: 147px;
    background-image: url(../images/footer/flour_tablet.png);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2.03125), screen and (min-width: 768px) and (min-resolution: 195dpi), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .footer__background {
    background-image: url(../images/footer/flour@2x_tablet.png);
  }
}

@media screen and (min-width: 1280px) {
  .footer__background {
    width: 324px;
    height: 186px;
    background-image: url(../images/footer/flour_desktop.png);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2.03125), screen and (min-width: 1280px) and (min-resolution: 195dpi), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .footer__background {
    background-image: url(../images/footer/flour@2x_desktop.png);
  }
}
/*# sourceMappingURL=main.css.map */