@charset "UTF-8";
:root {
  --card-set-gap: 5px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #2e2520;
}

@media screen and (min-whidth: 1200px) {
  body {
    font-size: 18px;
    line-height: 1.22;
  }
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
  font-style: normal;
  font-family: Montserrat;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.title {
  font-family: Caveat Brush;
  font-size: 24px;
  line-height: 2.71;
}

@media screen and (min-whidth: 1280px) {
  .title {
    font-size: 36px;
    line-height: 1.81;
  }
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 665px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 852px;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 0px;
  margin: 0;
  width: 145px;
  height: 40px;
  background-color: #ab816c;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-family: Caveat Brush;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 2.7;
  cursor: pointer;
  outline: none;
}

.button:hover, .button:focus {
  background-color: #876655;
  border: 2px #574943 solid;
  border-radius: 25px;
}

@media screen and (min-width: 1280px) {
  .button {
    font-size: 24px;
    width: 158px;
    height: 45px;
  }
}

.social__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 27px;
  height: 27px;
  outline: none;
}

.social__link:hover, .social__link:focus {
  background-color: #ab816c;
  border-radius: 25px;
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: #fff;
}

@media screen and (min-width: 1200px) {
  .social__link {
    width: 36px;
    height: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .icon-twitter {
    width: 24px;
    height: 19px;
  }
  .icon-instagram {
    width: 19px;
    height: 19px;
  }
  .icon-facebook {
    width: 10.27px;
    height: 19px;
  }
}

.program__button {
  max-width: 67px;
  height: 65px;
  font-size: 18px;
  line-height: 3.6;
  color: #ab816c;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  font-family: Caveat Brush;
  font-weight: 400;
  cursor: pointer;
  outline: none;
  -webkit-transition: text-shadow 250ms;
  transition: text-shadow 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
          transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

@media screen and (min-width: 1280px) {
  .program__button {
    display: none;
  }
}

.program__button:hover,
.program__button:focus {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.program__button-text {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
          transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

/*Модальное окно*/
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  /*top: 0;*/
  bottom: 0;
  left: 0px;
  z-index: 120;
  background: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.2);
          transform: translate(-50%, -50%) scale(0.2);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  padding: 30px;
  width: 100%;
  max-width: 450px;
  min-height: 520px;
  position: absolute;
  z-index: 150;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  background-color: rgba(254, 243, 228, 0.9);
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1280px) {
  .modal {
    max-width: 550px;
    min-height: 600px;
  }
}

.modal__btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(254, 243, 228, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
}

.modal__btn-close:hover .modal__btn-close-icon {
  fill: brown;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body.modal-open {
  overflow: hidden;
}

.header__bg {
  background: url(../images/header/donuts_mobile.png) 0 0 no-repeat, url(../images/about-us/cupcake-box_mobile.png) 50% 40% no-repeat, url(../images/header/background-top_mobile.png) 50% 0/contain no-repeat;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header__bg {
    background: url(../images/header/donuts@2x_mobile.png) 0 0 no-repeat, url(../images/about-us/cupcake-box@2x_mobile.png) 50% 40% no-repeat, url(../images/header/background-top@2x_mobile.png) 50% 0/contain no-repeat;
  }
}

@media screen and (min-width: 768px) {
  .header__bg {
    background: url(../images/header/donuts_tablet.png) 80% top no-repeat, url(../images/about-us/cupcake-box_tablet.png) 5% bottom no-repeat, url(../images/header/background-top_tablet.png) 50% 0/contain no-repeat;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header__bg {
    background: url(../images/header/donuts@2x_tablet.png) 80% top no-repeat, url(../images/about-us/cupcake-box@2x_tablet.png) 5% bottom/contain no-repeat, url(../images/header/background-top@2x_tablet.png) 50% 0/contain no-repeat;
  }
}

@media screen and (min-width: 1000px) {
  .header__bg {
    background: url(../images/header/donuts_tablet.png) 80% top no-repeat, url(../images/about-us/cupcake-box_tablet.png) 5% bottom no-repeat, url(../images/header/background-top_desktop.png) 50% bottom/cover no-repeat;
  }
}

@media screen and (min-width: 1000px) and (min-device-pixel-ratio: 2), screen and (min-width: 1000px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1000px) and (min-resolution: 192dpi), screen and (min-width: 1000px) and (min-resolution: 2dppx) {
  .header__bg {
    background: url(../images/header/donuts@2x_tablet.png) 80% top no-repeat, url(../images/about-us/cupcake-box@2x_tablet.png) 5% bottom/contain no-repeat, url(../images/header/background-top@2x_desktop.png) 50% bottom/cover no-repeat;
  }
}

@media screen and (min-width: 1280px) {
  .header__bg {
    background: url(../images/header/spoon_desktop.png) 0 166px no-repeat, url(../images/header/donuts_desktop.png) right top no-repeat, url(../images/header/background-top_desktop.png) 50% bottom/cover no-repeat, url(../images/about-us/cupcake-box_desktop.png) 10% bottom no-repeat;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .header__bg {
    background: url(../images/header/spoon@2x_desktop.png) 0 166px no-repeat, url(../images/header/donuts@2x_desktop.png) right top no-repeat, url(../images/header/background-top@2x_desktop.png) 50% bottom/cover no-repeat, url(../images/about-us/cupcake-box@2x_desktop.png) left bottom no-repeat;
  }
}

.menu__logo {
  width: 190px;
  height: 85px;
  fill: brown;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.menu-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  background-color: rgba(254, 243, 228, 0.9);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  min-height: 500px;
}

.menu-container.is-open {
  display: block;
}

@media screen and (min-width: 1280px) {
  .menu-container.is-open {
    display: none;
  }
}

@media screen and (max-width: 1279px) {
  .menu-container {
    width: 100vw;
    height: 100vh;
  }
}

@media screen and (min-width: 1280px) {
  .menu-container {
    display: none;
  }
}

.menu-button {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  fill: #2e2520;
}

@media screen and (min-width: 768px) {
  .menu-button {
    top: 26px;
    right: 67px;
  }
}

@media screen and (min-width: 1280px) {
  .menu-button {
    display: none;
  }
}

.menu-button:hover, .menu-button:focus {
  fill: brown;
}

.menu-button .icon-menu {
  display: none;
}

.menu-button.is-open .icon-menu {
  display: block;
  width: 30px;
  height: 16px;
}

.menu-button.is-open .icon-close {
  display: none;
}

.mobile-menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 45px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  color: #2e2520;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: brown;
}

.mobile-menu__link:focus .menu-container {
  display: none;
}

.site-nav {
  display: none;
}

@media screen and (min-width: 1280px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .site-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 20px;
  }
  .site-nav__item {
    font-size: 18px;
    line-height: 1.22;
  }
}

.header__container {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header__container {
    text-align: start;
  }
}

@media screen and (min-width: 1280px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .header__logo,
  .header__logo-icon {
    width: 158px;
    height: 71px;
  }
}

.header__logo {
  margin-right: 38px;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: #ab816c;
}

.header__container {
  padding-top: 7px;
  padding-bottom: 33px;
}

@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 27px;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 1280px) {
  .header__container {
    padding-top: 31px;
    padding-bottom: 57px;
  }
}

@media screen and (min-width: 320px) {
  .hero {
    padding-bottom: 300px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-bottom: 95px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding-bottom: 130px;
  }
}

.hero__title {
  font-size: 30px;
  line-height: 1.26;
  width: 100%;
  max-width: 224px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
}

@media screen and (min-width: 1280px) {
  .hero__title {
    max-width: 490px;
    font-size: 64px;
    line-height: 1.01;
  }
}

.hero__container {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero__container {
    text-align: start;
  }
}

.hero__button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.hero__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 37px;
}

@media screen and (min-width: 1280px) {
  .hero__text {
    font-size: 24px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 768px) {
  .hero__title,
  .hero__button,
  .hero__text {
    margin-right: auto;
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .program-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 635px;
  }
}

@media screen and (min-width: 1280px) {
  .program-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 834px;
  }
}

.program-text-block {
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .program-text-block {
    font-size: 18px;
    line-height: 1.2;
  }
}

.program__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 2.7;
  text-align: center;
  color: #2e2520;
}

@media screen and (min-width: 767px) {
  .program__title {
    text-align: left;
  }
}

@media screen and (min-width: 1280px) {
  .program__title {
    font-size: 36px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 1280px) {
  .program__list {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 21px;
  }
}

.program__list :nth-last-child(-n + 6) {
  margin-bottom: 10px;
}

@media screen and (min-width: 1280px) {
  .program__list :nth-last-child(-n + 6) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .program__list:last-child {
    margin-bottom: 21px;
  }
}

.program__text:not(:last-child) {
  margin-bottom: 10px;
  max-width: 392px;
}

@media screen and (min-width: 1280px) {
  .program__text:not(:last-child) {
    margin-bottom: 21px;
  }
}

.is-hidden {
  display: none;
}

@media screen and (min-width: 1280px) {
  .is-hidden {
    display: inline-block;
  }
}

.program-cards__list {
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 319.98px) {
  .program-cards__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.program-cards__item {
  width: 142px;
  height: 142px;
  position: relative;
  border-radius: 50%;
  background-color: #fef3e4;
  -webkit-box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
          box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
}

@media screen and (max-width: 1279.98px) {
  .program-cards__item {
    width: 142px;
    height: 142px;
  }
}

@media screen and (min-width: 1280px) {
  .program-cards__item {
    width: 180px;
    height: 180px;
  }
}

.program-cards__title {
  margin-top: 50px;
  margin-bottom: 13px;
  font-family: Caveat Brush;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  color: #000000;
}

@media screen and (min-width: 1280px) {
  .program-cards__title {
    margin-top: 63px;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .program-cards__title {
    font-size: 24px;
  }
}

.program-cards__text {
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: #000000;
}

@media screen and (min-width: 1280px) {
  .program-cards__text {
    font-size: 16px;
  }
}

.program-cards__image {
  position: absolute;
}

@media screen and (max-width: 1279.98px) {
  .program-cards__image {
    bottom: 92px;
    right: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .program-cards__image {
    bottom: 123px;
    right: 42px;
  }
}

.program-cards__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 13px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1280px) {
  .program-cards__icon {
    margin-top: 17px;
  }
}

.program-cards__list > .program-cards__item:nth-child(2n) {
  margin-left: 5px;
  margin-top: 57px;
}

@media screen and (min-width: 768px) {
  .program-cards__list > .program-cards__item:nth-child(2n) {
    margin-left: 15px;
  }
}

@media screen and (min-width: 320px) {
  .hero {
    padding-bottom: 300px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-bottom: 95px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding-bottom: 130px;
  }
}

.hero__title {
  font-size: 30px;
  line-height: 1.26;
  width: 100%;
  max-width: 224px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
}

@media screen and (min-width: 1280px) {
  .hero__title {
    max-width: 490px;
    font-size: 64px;
    line-height: 1.01;
  }
}

.hero__container {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero__container {
    text-align: start;
  }
}

.hero__button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.hero__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 37px;
}

@media screen and (min-width: 1280px) {
  .hero__text {
    font-size: 24px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 768px) {
  .hero__title,
  .hero__button,
  .hero__text {
    margin-right: auto;
    margin-left: 0;
  }
}

.about {
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .about {
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 1280px) {
  .about {
    padding-bottom: 30px;
  }
}

.about__title {
  text-align: center;
  font-size: 24px;
  line-height: 2.7;
}

@media screen and (min-width: 768px) {
  .about__title {
    text-align: start;
  }
}

@media screen and (min-width: 1280px) {
  .about__title {
    font-size: 36px;
    line-height: 1.8;
  }
}

.about__text {
  font-size: 16px;
  line-height: 1.25;
}

@media screen and (min-width: 1280px) {
  .about__text {
    font-size: 18px;
    line-height: 1.2;
  }
}

.about__item:not(:last-child) {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .about__content {
    width: 50%;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .program-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 635px;
  }
}

@media screen and (min-width: 1280px) {
  .program-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 834px;
  }
}

.program-text-block {
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .program-text-block {
    font-size: 18px;
    line-height: 1.2;
  }
}

.program__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 2.7;
  text-align: center;
  color: #2e2520;
}

@media screen and (min-width: 767px) {
  .program__title {
    text-align: left;
  }
}

@media screen and (min-width: 1280px) {
  .program__title {
    font-size: 36px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 1280px) {
  .program__list {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 21px;
  }
}

.program__list :nth-last-child(-n + 6) {
  margin-bottom: 10px;
}

@media screen and (min-width: 1280px) {
  .program__list :nth-last-child(-n + 6) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .program__list:last-child {
    margin-bottom: 21px;
  }
}

.program__text:not(:last-child) {
  margin-bottom: 10px;
  max-width: 392px;
}

@media screen and (min-width: 1280px) {
  .program__text:not(:last-child) {
    margin-bottom: 21px;
  }
}

.is-hidden {
  display: none;
}

@media screen and (min-width: 1280px) {
  .is-hidden {
    display: inline-block;
  }
}

.program-cards__list {
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 319.98px) {
  .program-cards__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.program-cards__item {
  width: 142px;
  height: 142px;
  position: relative;
  border-radius: 50%;
  background-color: #fef3e4;
  -webkit-box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
          box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
}

@media screen and (max-width: 1279.98px) {
  .program-cards__item {
    width: 142px;
    height: 142px;
  }
}

@media screen and (min-width: 1280px) {
  .program-cards__item {
    width: 180px;
    height: 180px;
  }
}

.program-cards__title {
  margin-top: 50px;
  margin-bottom: 13px;
  font-family: Caveat Brush;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  color: #000000;
}

@media screen and (min-width: 1280px) {
  .program-cards__title {
    margin-top: 63px;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .program-cards__title {
    font-size: 24px;
  }
}

.program-cards__text {
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: #000000;
}

@media screen and (min-width: 1280px) {
  .program-cards__text {
    font-size: 16px;
  }
}

.program-cards__image {
  position: absolute;
}

@media screen and (max-width: 1279.98px) {
  .program-cards__image {
    bottom: 92px;
    right: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .program-cards__image {
    bottom: 123px;
    right: 42px;
  }
}

.program-cards__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 13px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1280px) {
  .program-cards__icon {
    margin-top: 17px;
  }
}

.program-cards__list > .program-cards__item:nth-child(2n) {
  margin-left: 5px;
  margin-top: 57px;
}

@media screen and (min-width: 768px) {
  .program-cards__list > .program-cards__item:nth-child(2n) {
    margin-left: 15px;
  }
}

.regisration__container {
  width: 100%;
  height: 510px;
  position: relative;
  padding: 0;
  margin-bottom: 27px;
}

@media screen and (min-width: 768px) {
  .regisration__container {
    padding: 0;
    text-align: center;
    padding-top: 75px;
    height: 335px;
    width: 634px;
  }
}

@media screen and (min-width: 1280px) {
  .regisration__container {
    width: 822px;
    margin-bottom: 77px;
  }
}

.regisration__tittle {
  left: 50%;
  top: 15px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  position: absolute;
  padding: 0;
  margin: 0;
  display: block;
  width: 106px;
  height: 65px;
}

@media screen and (min-width: 768px) {
  .regisration__tittle {
    top: 0;
  }
}

.container__content {
  display: block;
  height: 510px;
  width: 290px;
  -webkit-box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
          box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
  border-radius: 150px 150px 0px 0px;
  padding-bottom: 47px;
  background-color: #fffff9;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container__content {
    width: 634px;
    height: 260px;
    border-radius: 150px 150px 150px 150px;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1280px) {
  .container__content {
    width: 822px;
  }
}

.container__content-time {
  padding-top: 91px;
  padding-bottom: 20px;
  height: 202px;
  width: 265px;
  border-bottom: 1px solid rgba(171, 129, 108, 0.5);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 11px;
}

@media screen and (min-width: 768px) {
  .container__content-time {
    width: 179px;
    height: 190px;
    padding: 0;
    margin: 0;
    border: none;
    border-right: 1px solid rgba(171, 129, 108, 0.5);
    padding-top: 16px;
    padding-bottom: 74px;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 30px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .container__content-time {
    width: 264px;
    height: 190px;
    padding: 0;
    margin: 0;
    border: none;
    border-right: 1px solid rgba(171, 129, 108, 0.5);
    padding-top: 16px;
    padding-bottom: 69px;
    padding-right: 30px;
    margin-right: 30px;
  }
}

.registration__time {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 114px;
  height: 44px;
  margin-bottom: 25px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  color: #2e2520;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .registration__time {
    margin-bottom: 34px;
    margin-left: 35px;
  }
}

@media screen and (min-width: 1280px) {
  .registration__time {
    margin-right: 0;
    margin-left: 107px;
    width: 127px;
    height: 48px;
    font-size: 20px;
    margin-bottom: 30px;
  }
}

.registration__price {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 22px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  color: #2e2520;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .registration__price {
    margin-left: 99px;
  }
}

@media screen and (min-width: 1280px) {
  .registration__price {
    margin-left: 179px;
    width: 55px;
    height: 24px;
  }
}

.form-registration {
  width: 265px;
  height: 173px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.form-registration input {
  font-family: Montserrat;
  color: rgba(171, 129, 108, 0.5);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}

.form-registration input::-webkit-input-placeholder {
  color: rgba(171, 129, 108, 0.5);
}

.form-registration input:-ms-input-placeholder {
  color: rgba(171, 129, 108, 0.5);
}

.form-registration input::-ms-input-placeholder {
  color: rgba(171, 129, 108, 0.5);
}

.form-registration input::placeholder {
  color: rgba(171, 129, 108, 0.5);
}

@media screen and (min-width: 768px) {
  .form-registration {
    width: 234px;
    height: 100%;
    padding: 0;
  }
}

@media screen and (min-width: 1280px) {
  .form-registration {
    margin-left: 0;
  }
}

.form-registration__title {
  padding-left: 30px;
  padding-right: 30px;
  width: 265px;
  height: 40px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #2e2520;
  text-align: center;
  margin-bottom: 17px;
}

@media screen and (min-width: 768px) {
  .form-registration__title {
    padding: 0;
    width: 234px;
    padding-right: 20px;
    text-align: start;
  }
}

@media screen and (min-width: 1280px) {
  .form-registration__title {
    padding-right: 15px;
    margin-bottom: 13px;
    font-size: 18px;
    line-height: 1.22;
  }
}

.general-label-registration {
  height: 23px;
  border: none;
}

.general-input-registration {
  width: 265px;
  border: none;
  margin-bottom: 2px;
  border-bottom: 1px solid #ab816c;
}

@media screen and (min-width: 768px) {
  .general-input-registration {
    width: 234px;
  }
}

.form-registration__label-name {
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .form-registration__label-name {
    margin-bottom: 15px;
  }
}

.form-registration__label-tel {
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .form-registration__label-tel {
    margin-bottom: 15px;
  }
}

.container__content-button {
  height: 124px;
  width: 100%;
  padding-top: 37px;
  padding-bottom: 47px;
}

@media screen and (min-width: 768px) {
  .container__content-button {
    width: 186px;
    height: 100%;
    padding: 0;
    padding-left: 25px;
    padding-top: 110px;
    padding-bottom: 110px;
    padding-right: 21px;
  }
}

@media screen and (min-width: 1280px) {
  .container__content-button {
    width: 294px;
    height: 100%;
    padding: 0;
    padding-left: 38px;
    padding-top: 110px;
    padding-bottom: 105px;
    padding-right: 98px;
  }
}

.form-registration__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #ab816c;
  border-radius: 25px;
  width: 145px;
  height: 40px;
  font-family: Caveat Brush;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  border: none;
}

@media screen and (min-width: 1280px) {
  .form-registration__button {
    width: 158px;
    font-size: 24px;
  }
}

:root {
  --title-color: #2e2520;
}

.contact {
  margin-top: 50px;
  margin-bottom: 47px;
}

@media screen and (min-width: 768px) {
  .contact {
    margin-bottom: 50px;
    margin-top: 17px;
  }
}

@media screen and (min-width: 1280px) {
  .contact {
    margin-bottom: 85px;
    margin-top: 77px;
  }
}

.contact__container {
  width: 100%;
  position: relative;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .contact__container {
    padding: 0;
    text-align: center;
    width: 634px;
  }
}

.contact__title {
  margin: 0;
  text-align: center;
  color: #2e2520;
}

.contact__subtittle {
  text-align: center;
  line-height: auto;
}

.contact__form {
  max-width: 490px;
  padding-right: 30px;
  padding-left: 30px;
  width: 100%;
  margin: 10px auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.contact__form input {
  color: #2e2520;
  line-height: 19.5px;
  border: none;
  border-bottom: 1px solid #ab816c;
  width: 100%;
  max-width: 430px;
}

.contact__form input::-webkit-input-placeholder {
  color: rgba(171, 129, 108, 0.5);
}

.contact__form input:-ms-input-placeholder {
  color: rgba(171, 129, 108, 0.5);
}

.contact__form input::-ms-input-placeholder {
  color: rgba(171, 129, 108, 0.5);
}

.contact__form input::placeholder {
  color: rgba(171, 129, 108, 0.5);
}

.contact__form input:first-child {
  margin-top: 10px;
  margin-bottom: 15px;
}

.contact__form .submit {
  max-width: 145px;
  text-align: center;
  color: #fff;
  background-color: #ab816c;
  font-family: Caveat Brush;
  border-radius: 25px;
  font-size: 18px;
  width: 100%;
  padding: 8px 0px;
  border: none;
  margin-top: 27px;
}

.contact__form .submit:hover, .contact__form .submit:focus {
  background-color: #876655;
  cursor: pointer;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 35px;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer__box {
    margin-left: 65px;
    margin-right: 65px;
  }
}

@media screen and (min-width: 1280px) {
  .footer__box {
    margin-left: 230px;
    margin-right: 230px;
  }
}

.footer__phone {
  width: 13px;
  height: 13px;
}

.footer__location {
  width: 11px;
  height: 14px;
}

.footer__tel {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: right;
  color: #2e2520;
}

.footer__tel:hover {
  color: brown;
  font-weight: 500;
}

.footer__map {
  z-index: 10;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #2e2520;
  background-color: transparent;
  border: transparent;
}

.footer__map:hover {
  color: brown;
  font-weight: 500;
}

footer {
  position: relative;
}

.footer__background {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90px;
  height: 66px;
  margin-bottom: -20px;
  margin-right: 0;
  background-image: url(../images/footer/flour_mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2.03125), (min-resolution: 195dpi), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .footer__background {
    background-image: url(../images/footer/flour@2x_mobile.png);
  }
}

@media screen and (min-width: 768px) {
  .footer__background {
    width: 150px;
    height: 147px;
    background-image: url(../images/footer/flour_tablet.png);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2.03125), screen and (min-width: 768px) and (min-resolution: 195dpi), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .footer__background {
    background-image: url(../images/footer/flour@2x_tablet.png);
  }
}

@media screen and (min-width: 1280px) {
  .footer__background {
    width: 324px;
    height: 186px;
    background-image: url(../images/footer/flour_desktop.png);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2.03125), screen and (min-width: 1280px) and (min-resolution: 195dpi), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .footer__background {
    background-image: url(../images/footer/flour@2x_desktop.png);
  }
}

:root {
  --title-color: #2e2520;
}

@media screen and (max-width: 767px) {
  .reviews .container {
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .reviews .container {
    max-width: 626px;
    padding-bottom: 30px;
  }
}

.reviews__title {
  margin: 0;
  font-family: 'Caveat Brush', sans-serif;
  font-size: 24px;
  line-height: 2.71;
  text-align: center;
  color: #2e2520;
}

.reviews__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.reviews__item {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .reviews__item {
    max-width: 290px;
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .reviews__item.center {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .reviews__item.center .reviews__wrapper-foto {
    width: 186px;
    height: 186px;
  }
}

@media screen and (min-width: 1280px) {
  .reviews__item.center .reviews__wrapper-foto {
    width: 234px;
    height: 234px;
  }
}

@media screen and (min-width: 768px) {
  .reviews__item.around.left {
    position: absolute;
    top: 0;
    left: 0;
    width: 136px;
  }
  .reviews__item.around.left .reviews__text {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .reviews__item.around.right {
    position: absolute;
    top: 0;
    right: 0;
    width: 136px;
  }
  .reviews__item.around.right .reviews__text {
    display: none;
  }
}

.reviews__wrapper-foto {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6px;
  width: 110px;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .reviews__wrapper-foto {
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .reviews__wrapper-foto {
    width: 100%;
  }
}

.reviews__foto {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 100%;
}

.reviews__rate-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 136px;
}

.reviews__rate-item:not(:last-child) {
  margin-right: 4px;
}

.reviews__star-icon {
  width: 24px;
  height: 24px;
  fill: #ab816c;
}

.reviews__users-name {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 4.64;
  text-align: center;
  color: #2e2520;
}

.reviews__text {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #2e2520;
}

@media screen and (max-width: 767px) {
  .block {
    display: block;
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
  .btnRight {
    display: none;
  }
}

.reviews__all-number {
  width: 15px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: #ab816c;
}

.reviews__current-number {
  width: 15px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: #ab816c;
}

.reviews__number-delimeter {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.21;
  color: #ab816c;
}

.reviews__counter--mobile {
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .reviews__counter--mobile {
    display: none;
  }
}

.reviews__counter--desktop {
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .reviews__counter--desktop {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .display-none {
    display: none;
  }
}

.reviews__btn {
  border: none;
  width: 35px;
  height: 17px;
  background: url("../../src/images/reviews/next.jpg") no-repeat;
  background-position: center center;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */