$main-color: #2e2520;
$complementory_color: #fff;
$accent-color: #ab816c;
$hover-color: #876655;
$outline-color: #574943;
$title-font: Caveat Brush;
$main-font: Montserrat;

// секция РЕГИСТРАЦИЯ
$registration-form-background: #fffff9;
$desktop-main-line-height: 1.22;
$input-text-color: rgba(171, 129, 108, 0.5);
$pagination-color: #ab816c;


// Сетка Програм
:root {
  --card-set-gap: 5px;
}

$main-line-height: 2.71;

