<!DOCTYPE html>
<header class="header container">
  <div class="canvas">
    <div class="flex">
      <div class="header-logo">
        <svg class="logo logo--pos" width="96" height="43">
          <use href="./images/sprite.svg#icon-logo"></use>
      </svg>
       </div>
      
      <ul class=" list site-nav">
        <li class="site-nav__item"><a  class="link site_nav__link" name="About">About us</a></li>
        <li class="site-nav__item"><a  class="link site_nav__link" name="Program">Program</a></li>
        <li class="site-nav__item"><a  class="link site_nav__link" name="Reviews">Reviews</a></li>
        <li class="site-nav__item"><a  class="link site_nav__link" name="Contact">Contact</a></li>
      </ul>
    </div>
    </div>   
  </header>
  