<section class="contact">
    <div class="contact__container container">
        <h2 class="title contact__title" id="contact">Contact</h2>
        <p class="contact__subtittle">We will answer any question!</p>
        <form class="contact__form">
         <input type="email" name="email" class="contact__form--email"  pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,})[.]([A-z]{2,8})" placeholder="Email" required autocomplete="on" />
         <input type="text" name="text" class="contact__form--email"  placeholder="Type your question" />
         <button type="submit" class="contact__form--submit submit">Send</button>
     </form>
 </section>