<footer class="footer container">
    <div class="footer__social">
        <include src="./partials/social.html"></include>
    </div>
    <div class="footer__background"></div>
    <div class="footer__box">
        <a class="footer__tel link" href="tel:+9102228855">
            <svg class="footer__phone">
                <use href="./images/sprite.svg#icon-phone"></use>
            </svg>
            (910)222-8855
        </a>
        <a class="footer__map link" href="">
            <svg class="footer__location">
                <use href="./images/sprite.svg#icon-location"></use>
            </svg>
            New York
        </a>
    </div>
    
</footer>