
<header class="header">
    <div class="header__container container">
      <div class="header__logo">
         <svg class="header__logo-icon" width="96" height="43">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
      </div>
      <div class="site-nav">
        <ul class="list site-nav__list">
          <li class="site-nav__item"><a  class="link site-nav__link" href="#about-us">About us</a></li>
          <li class="site-nav__item"><a  class="link site-nav__link" href="#program">Program</a></li>
          <li class="site-nav__item"><a  class="link site-nav__link" href="#reviews">Reviews</a></li>
          <li class="site-nav__item"><a  class="link site-nav__link" href="#contact">Contact</a></li>
       </ul>
      </div>
      <button type="button" class="menu-button is-open" aria-expanded="false" aria-controls="menu-container" data-menu-button>
        <svg width="18px" height="18px" aria-label="Переключатель мобильного меню">
          <use class="icon-close" width="18px" height="18px" href="./images/sprite.svg#icon-close"></use>
          <use class="icon-menu" width="30px" height="16px" href="./images/sprite.svg#icon-menu"></use>
        </svg>
      </button>
    </div>   
  </header>



  