
<header class="header">
    <div class="header__container container">
      <div class="header__logo">
         <svg class="header__logo-icon" width="96" height="43">
        <use href="./images/sprite.svg#icon-logo"></use>
    </svg>
  </div>
  <div class="site-nav">
      <ul class="list site-nav__list">
        <li class="site-nav__item"><a  class="link site-nav__link" name="About">About us</a></li>
        <li class="site-nav__item"><a  class="link site-nav__link" name="Program">Program</a></li>
        <li class="site-nav__item"><a  class="link site-nav__link" name="Reviews">Reviews</a></li>
        <li class="site-nav__item"><a  class="link site-nav__link" name="Contact">Contact</a></li>
      </ul>
    </div>
    </div>   
  </header>
  