<div class="container menu__field">
    временное полe для привязки mobile menu
    <button type="button" class="menu-button is-open" aria-expanded="false" aria-controls="menu-container" data-menu-button>
        <svg width="18px" height="18px" aria-label="Переключатель мобильного меню">
            <use class="icon-close" width="18px" height="18px" href="./images/sprite.svg#icon-close"></use>
            <use class="icon-menu" width="30px" height="16px" href="./images/sprite.svg#icon-menu"></use>
        </svg>
    </button>
    <div class="menu-container" id="menu-container" data-menu>
        <ul class="list mobile-menu__list">
            <li class="mobile-menu__item">
                <img class="menu__logo" src="./images/logo.svg">
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__link is-open" href="#about-us">About us</a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__link" href="#program">Program</a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__link" href="#reviews">Reviews</a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__link" href="#contacts">Contacts</a>
            </li>
        </ul>
        
</div>