
    <div class="menu-container" id="menu-container" data-menu>
        <ul class="list mobile-menu__list">
            <li class="mobile-menu__item">
                <img class="menu__logo" src="./images/logo.svg">
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__link is-open" href="#about-us">About us</a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__link" href="#program">Program</a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__link" href="#reviews">Reviews</a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__link" href="#contact">Contact</a>
            </li>
        </ul>
    </div>

