<!--Модальное окно-->
<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button class="modal__btn-close" data-modal-close>
            <svg class="modal__btn-close-icon" width="18px" height="18px">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <p class="modal__title">New York</p>
        <iframe class="modal__map"
            src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d193535.19555455528!2d-73.9531589!3d40.7182932!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1621365812290!5m2!1sru!2sua"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">
        </iframe>
    </div>
</div>
