<section class="registration">
    <div class="regisration__container container">
        <h2 class="title regisration__tittle" id="register">Registration</h2>
        <div class="container__content">
            <div class="container__content-time">
                <span class="registration__time">
                    May 23, 11:00 New York
                </span>
                <span class="registration__price">
                    $ 699
                </span>
            </div>
            <form class="form-registration">
                <p class="form-registration__title">
                    Apply your personal info for registration
                </p>
                <label class="general-label-registration form-registration__label-name">
                    <input class="general-input-registration form-registration__input-name" type="text" name="username"
                        pattern="^[A-Za-zА-Яа-яЁё\s]+$" placeholder="Your name" required />
                </label>
                <label class="general-label-registration form-registration__label-tel">
                    <input class="general-input-registration form-registration__input-tel" type="tel" name="tel"
                        pattern="\+[0-9]{5,15}" placeholder="Phone number" required />
                </label>
                <label class="general-label-registration form-registration__label-email">
                    <input class="general-input-registration form-registration__input-email" type="email" name="email"
                        pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" placeholder="Email" required />
                </label>
                <button type="submit" class="form-registration__button button">Register</button>
            </form>
        </div>
    </div>
</section>
