
.hero__bg{
  background:
  url(../images/header/donuts_mobile.png) 0 0 no-repeat,
  url(../images/about-us/cupcake-box_mobile.png)50% 70% no-repeat,
  url(../images/header/background-top_mobile.png) 50% 0/contain no-repeat;
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
background: 
  url(../images/header/donuts@2x_mobile.png) 0 0 no-repeat,
  url(../images/about-us/cupcake-box@2x_mobile.png)50% 70% no-repeat,
  url(../images/header/background-top@2x_mobile.png) 50% 0/contain no-repeat;
}

@media screen and (min-width: 768px){
 background: 
 url(../images/header/donuts_tablet.png) 80% top no-repeat,
 url(../images/about-us/cupcake-box_tablet.png)left bottom no-repeat, 
 url(../images/header/background-top_tablet.png)50% 0/contain no-repeat;
 @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
   background: 
   url(../images/header/donuts@2x_tablet.png) 80% top no-repeat,
   url(../images/about-us/cupcake-box@2x_tablet.png)left bottom no-repeat,
   url(../images/header/background-top@2x_tablet.png)50% 0/contain no-repeat;
  }} 

@media screen and (min-width: 1280px){
  background:
  url(../images/header/spoon_desktop.png)0 166px no-repeat,
  url(../images/header/donuts_desktop.png)right top no-repeat,    
  url(../images/header/background-top_desktop.png)50% /contain no-repeat,
  url(../images/about-us/cupcake-box_desktop.png) 30% 400px no-repeat;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
    background: 
    url(../images/header/spoon@2x_desktop.png)0 166px no-repeat,
    url(../images/header/donuts@2x_desktop.png)right top no-repeat,
    url(../images/header/background-top@2x_desktop.png)50% /contain no-repeat,
    url(../images/about-us/cupcake-box@2x_desktop.png)left bottom no-repeat;
        }
      }
      
}

