.logo{
  display: block;

@media screen and (min-width: 768px){
  margin-right: 38px;
  margin-left: 0;
  
}    
    }
.logo--pos{
  width: 190px;
  height: 85px;
padding-top: 7px;
padding-bottom: 33px;

@media screen and (min-width: 768px){ 
  width: 96px;
  height: 43px;
padding-top: 27px;
padding-bottom: 10px;
}   
@media screen and (min-width: 1200px){
  
  width: 158px;
  height: 71px;
  padding-top: 31px;
  padding-bottom: 57px;
margin-right: 38px;
}
}
    