.social__list {
  display: inline-flex;
}
.social__link {
  @include flexPositon(inline-flex, center, center);
  width: 27px;
  height: 27px;
  outline: none;

  &:hover,
  &:focus {
    border: 1px $outline-color solid;
    background-color: $accent-color;
    border-radius: 25px;
  }
  &:hover .social__icon,
  &:focus .social__icon {
    fill: $complementory_color;
  }
  @media screen and (min-width: 1200px) {
    width: 36px;
    height: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .icon-twitter {
    width: 24px;
    height: 19px;
  }
  .icon-instagram {
    width: 19px;
    height: 19px;
  }
  .icon-facebook {
    width: 10.27px;
    height: 19px;
  }
}
