.about__title {
  text-align: center;
}
.about__item:not(:last-child) {
  margin-bottom: 15px;
}
.about__position::before {
  contain: '';
  width: 330px;
  height: 350px;
  background-color: blue;
  background-image: url(../images/about-us/cupcake-box_desktop.png);
}
