
.site-nav{
    display: none;
    @media screen and (min-width: 1280px){
display: flex;
&__list{
    display: flex;
    align-items: center;
    }
    &__item:not(:last-child){
        margin-right: 20px;
}
&__item{
    font-size: 18px;
    line-height: 1.22;
}
}
}

.header__container{
   text-align: center;
   @media screen and (min-width: 768px){
text-align: start;
   }
   @media screen and (min-width: 1280px){
       display: flex;
   }
}
.header__logo,
.header__logo-icon{
    @media screen and (min-width: 1280px){
        width: 158px;
        height: 71px;
    }  
}
.header__logo{
    margin-right: 38px;
}
