// // ---------заголовок секции------

.regisraton__title {
  left: 50%;
  top: -15px;
  transform: translate(-50%, 50%);
  position: absolute;
  padding: 0;
  margin: 0;
  display: block;
  // margin-left: auto;
  // margin-right: auto;
  // margin-bottom: 11px;
  width: 106px;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
}

// ---------контейнер для контента и формы------

.container__content {
  position: relative;
  display: inline-block;
  height: 510px;
  width: 290px;
  box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
  border-radius: 150px 150px 0px 0px;
  padding-top: 91px;
  background-color: #fffff9;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 27px;
  @media screen and (min-width: 768px) {
    width: 260px;
    height: 634px;
    border-radius: 150px 150px 150px 150px;
    transform: rotate(-90deg);
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

// ---------ВРЕМЯ РЕГИСТРАЦИИ------

.registration__time {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 114px;
  height: 44px;
  margin-bottom: 25px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  color: #2e2520;
  text-align: center;
}

// ---------Цена------

.registration__price {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 22px;
  margin-bottom: 20px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  color: #2e2520;
  text-align: center;
}

// ---------ЛИНИЯ 1Px-- --------
.registration__line {
  display: block;
  width: 265px;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid rgba(171, 129, 108, 0.5);
  margin-bottom: 11px;
}

// ---------ФОРМА РЕГИСТРАЦИИ-- --------
.form-registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // width: 100%;
  // max-width: 448px;

  margin: 0;
  margin-left: auto;
  margin-right: auto;

  input {
    font-family: Montserrat;
    color: rgba(171, 129, 108, 0.5);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
  }

  input::-webkit-input-placeholder {
    color: rgba(171, 129, 108, 0.5);
  }
  input:-ms-input-placeholder {
    color: rgba(171, 129, 108, 0.5);
  }
  input::-ms-input-placeholder {
    color: rgba(171, 129, 108, 0.5);
  }
  input::placeholder {
    color: rgba(171, 129, 108, 0.5);
  }
  // transform: rotate(90deg);
}

// ---------ФОРМА ЗАГОЛОВОК-- --------

.form-registration__title {
  // display: block;
  padding-left: 30px;
  padding-right: 30px;
  width: 265px;
  height: 40px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 2.71;
  color: #2e2520;
  text-align: center;
  // margin-left: auto;
  // margin-right: auto;
  margin-bottom: 17px;
}

// ---------ФОРМА input-- --------

.form-registration__name {
  width: 265px;
  margin-bottom: 25px;
  border: none;
  border-bottom: 1px solid #ab816c;
}

.form-registration__tel {
  width: 265px;
  margin-bottom: 25px;
  border: none;
  border-bottom: 1px solid #ab816c;
}

.form-registration__email {
  width: 265px;
  margin-bottom: 37px;
  border: none;
  border-bottom: 1px solid #ab816c;
}

// ---------ФОРМА BUTTON-- --------
.form-registration__button {
  font-family: Caveat Brush;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
  border: none;
  text-align: center;
  background-color: #ab816c;
  border-radius: 25px;
  width: 145px;
  height: 40px;
}
