// контейнер регистрация

.registration {
  margin-bottom: 27px;
  @media screen and (min-width: 768px) {
    margin-bottom: 51px;
    padding-top: 75px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 77px;
  }
}
.regisration__container {
  width: 100%;

  position: relative;
  @media screen and (min-width: 768px) {
    padding: 0;
    text-align: center;
  }
}

// заголовок секции

.regisration__tittle {
  left: 50%;
  top: -15px;
  z-index: 5;
  transform: translate(-50%, 50%);
  position: absolute;
  padding: 0;
  margin: 0;
  display: block;
  width: 106px;
  height: 65px;
  @media screen and (min-width: 768px) {
    top: -110px;
  }
  @media screen and (min-width: 1280px) {
    top: -100px;
  }
}

//контейнер для контента и формы

.container__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 510px;
  width: 290px;
  box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
  border-radius: 150px 150px 0px 0px;
  padding-bottom: 47px;
  background-color: $registration-form-background;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    width: 634px;
    height: 260px;
    border-radius: 150px 150px 150px 150px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1280px) {
    width: 822px;
  }
}

// КОНТЕЙНЕР ДЛЯ ВРЕМЕНИ И ЦЕНЫ

.container__content-time {
  padding-top: 91px;
  padding-bottom: 20px;
  border-bottom: 1px solid $input-text-color;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 11px;
  @media screen and (min-width: 768px) {
    width: 179px;
    height: 190px;
    padding: 0;
    margin: 0;
    border: none;
    border-right: 1px solid $input-text-color;
    padding-top: 16px;
    padding-bottom: 74px;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 30px;
    margin-right: 30px;
  }
  @media screen and (min-width: 1280px) {
    width: 264px;
    height: 190px;
    padding: 0;
    margin: 0;
    border: none;
    border-right: 1px solid $input-text-color;
    padding-top: 16px;
    padding-bottom: 69px;
    padding-right: 30px;
    margin-right: 30px;
  }
}

//ВРЕМЯ РЕГИСТРАЦИИ

.registration__time {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 114px;
  height: 44px;
  margin-bottom: 25px;
  font-family: $main-font;
  font-weight: 500;
  font-size: 18px;
  line-height: $desktop-main-line-height;
  color: $main-color;
  text-align: center;
  @media screen and (min-width: 768px) {
    margin-bottom: 34px;
    margin-left: 35px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 0;
    margin-left: 107px;
    width: 127px;
    height: 48px;
    font-size: 20px;
    margin-bottom: 30px;
  }
}

// Цена

.registration__price {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 22px;
  // margin-bottom: 20px;
  font-family: $main-font;
  font-weight: 500;
  font-size: 18px;
  line-height: $desktop-main-line-height;
  color: $main-color;
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-left: 99px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 179px;
    width: 55px;
    height: 24px;
  }
}

//ФОРМА РЕГИСТРАЦИИ

.form-registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
  margin: 0;

  input {
    font-family: Montserrat;
    color: $input-text-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
  }

  input::-webkit-input-placeholder {
    color: $input-text-color;
  }
  input:-ms-input-placeholder {
    color: $input-text-color;
  }
  input::-ms-input-placeholder {
    color: $input-text-color;
  }
  input::placeholder {
    color: $input-text-color;
  }
  @media screen and (min-width: 768px) {
    width: 455px;
    height: 100%;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 54px;
    padding-bottom: 53px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 0;
  }
}

// ФОРМА ЗАГОЛОВОК

.form-registration__title {
  padding-left: 30px;
  padding-right: 30px;
  width: 265px;
  height: 40px;
  font-family: $main-font;
  font-weight: 400;
  font-size: 16px;
  line-height: $mobile-main-line-height;
  color: $main-color;
  text-align: center;
  margin-bottom: 17px;
  @media screen and (min-width: 768px) {
    padding: 0;
    width: 234px;
    padding-right: 20px;
    text-align: start;
  }
  @media screen and (min-width: 1280px) {
    padding-right: 15px;
    margin-bottom: 13px;
    font-size: 18px;
    line-height: $desktop-main-line-height;
  }
}

//СТИЛИ LABEL

.general-label-registration {
  height: 23px;
  border: none;
}

// СТИИ INPUT

.general-input-registration {
  width: 265px;
  border: none;
  margin-bottom: 2px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1);
  border-bottom: 0.1px solid $pagination-color;
  background-color: transparent;
  @media screen and (min-width: 768px) {
    width: 234px;
    border-bottom: 1px solid $pagination-color;
  }
}

.general-input-registration:hover,
.general-input-registration:focus {
  color: $main-color;
  outline: none;
  border-color: $main-color;
  transform: scale(1.1);
}

.general-input-registration:not(:placeholder-shown):required:invalid {
  color: $form-input-invalid;
}

.form-registration__label-name {
  margin-bottom: 25px;
  @media screen and (min-width: 768px) {
    margin-bottom: 15px;
  }
}

.form-registration__label-tel {
  margin-bottom: 25px;
  @media screen and (min-width: 768px) {
    margin-bottom: 15px;
  }
}

.form-registration__label-email {
  margin-bottom: 37px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

// -Кнопка регистрации

.form-registration__button {
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 110px;
    right: 21px;
  }
  @media screen and (min-width: 1280px) {
    top: 103px;
    right: 70px;
  }
}

.background__registration {
  background-position: right bottom;
  background-size: 87px 64px;
  background-repeat: no-repeat;
  @media screen and (min-width: 768px) {
    background-image: url(/images/registration/bited-donut_tablet.png),
      url(/images/registration/party-confetti_tablet.png);

    background-position: top 30px left 210px, top 92px right 4px, right bottom;
    background-size: 235px, 280px, 147px 144px;
    background-repeat: no-repeat;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/registration/bited-donut@2x_tablet.png),
        url(/images/registration/party-confetti@2x_tablet.png);
    }
  }
  @media screen and (min-width: 1280px) {
    background: url(/images/registration/bited-donut_desktop.png),
      url(/images/registration/party-confetti_desktop.png);

    background-position: top 30px left 225px, top 92px right 4px, right bottom;
    background-size: 257px, 589px 618px, 319px 184px;
    background-repeat: no-repeat;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/registration/bited-donut@2x_desktop.png),
        url(/images/registration/party-confetti@2x_desktop.png);
    }
  }
}
