:root {
  --title-color: #2e2520;
}

.reviews {
  .container {
    @media screen and (max-width: 767px) {
      padding-bottom: 30px;
    }

    @media screen and (min-width: 768px) {
      max-width: 626px;
      padding-bottom: 30px;
    }
  }
}

.reviews__title {
  margin: 0;

  font-family: 'Caveat Brush', sans-serif;
  font-size: 24px;
  line-height: 2.71;
  text-align: center;

  color: #2e2520;
}

.reviews-list {
  position: relative;
  display: flex;
  margin-bottom: 30px;
}

.reviews-item {
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    max-width: 290px;
  }
}

.reviews-item.center {
  @media screen and (min-width: 768px) {
    width: 100%;
  }

  .wrapper-users-foto {
    @media screen and (min-width: 768px) {
      width: 186px;
      height: 186px;
    }

    @media screen and (min-width: 1280px) {
      width: 234px;
      height: 234px;
    }
  }
}

.reviews-item.around.left {
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 0;
    left: 0;
    width: 136px;

    .reviews-text {
      display: none;
    }
  }
}

.reviews-item.around.right {
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 0;
    right: 0;
    width: 136px;

    .reviews-text {
      display: none;
    }
  }
}

.wrapper-users-foto {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6px;
  width: 110px;
  //height: 110px;

  border-radius: 50%;

  @media screen and (min-width: 768px) {
    width: 100%;
    //height: 234px;
  }

  @media screen and (min-width: 1280px) {
    width: 100%;
    //height: 234px;
  }
}

.users-foto {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 100%;
}

.users-rate-list {
  display: flex;
  margin: 0 auto;

  width: 136px;
}

.users-rate-item:not(:last-child) {
  margin-right: 4px;
}

.users-rate-icon {
  width: 24px;
  height: 24px;
  fill: #ab816c;
}

.users-name {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 4.64;

  text-align: center;

  color: #2e2520;
}

.reviews-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;

  color: #2e2520;
}

//Tests
// .slides {
//   width: 1000px;
//   height: 500px;
// }

.reviews-item {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.block {
  @media screen and (max-width: 767px) {
    display: block;
    //object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.btnRight {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.reviews__all-number {
  width: 15px;
  border: none;

  font-family: 'Montserrat', sans-serif;

  font-size: 14px;
  line-height: 1.21;

  text-align: center;

  color: #ab816c;
}

.reviews__current-number {
  width: 15px;
  border: none;

  font-family: 'Montserrat', sans-serif;

  font-size: 14px;
  line-height: 1.21;

  text-align: center;

  color: #ab816c;
}

.reviews__number-delimeter {
  font-family: 'Montserrat', sans-serif;

  font-size: 14px;
  line-height: 1.21;
  color: #ab816c;
}

.reviews__counter--mobile {
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.reviews__counter--desktop {
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.display-none {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.reviews__btn {
  border: none;
  width: 35px;
  height: 17px;

  background: url('../../src/images/reviews/next.jpg') no-repeat;

  background-position: center center;
  cursor: pointer;
}
